<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977918486336-atc2jh9l0eucd7b4bted3261j1u1132l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977918486336-atc2jh9l0eucd7b4bted3261j1u1132l</string>
	<key>API_KEY</key>
	<string>AIzaSyD2SIau5VNCQU5pFaN1-GtdwN-t4j38grA</string>
	<key>GCM_SENDER_ID</key>
	<string>977918486336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTourism.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>course-app-tourism</string>
	<key>STORAGE_BUCKET</key>
	<string>course-app-tourism.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977918486336:ios:68ccf159006b22e98f7ca5</string>
</dict>
</plist>